{% extends 'layout.html.twig' %}
{% block body %}
    <h2 class="page-header">Edit Task</h2>
      <div class="form-group">
          {{ form_start(taskForm) }}
          {{ form_row(taskForm.name, { 'attr': {'class': 'form-control'}}) }}
          {{ form_row(taskForm.deadline) }}
          {{ form_row(taskForm.priority, { 'attr': {'class': 'form-control', 'style' : 'margin-bottom:15px'}}) }}
          {{ form_row(taskForm.status, { 'attr': {'class': 'form-control', 'style' : 'margin-bottom:15px'}}) }}
          {{ form_row(taskForm.save, { 'attr': {'class': ' btn btn-primary'} }) }}
          {{ form_end(taskForm) }}
      </div>

{% endblock %}
