{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}
{% block body %}
    <div id="taskEdit" class="alert alert-success" style="visibility: hidden">
        <strong>Successful edit!</strong>
    </div>
    <h2 class="page-header">Edit Task</h2>
        <div class="form-group col-xs-4">
          {{ form_start(form, {'attr': {'id': 'form_task_edit'} }) }}
          {{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
          {{ form_row(form.deadline, { 'attr': {'class' : 'form-control'}} )}}
          {{ form_row(form.priority, { 'attr': {'class': 'form-control', 'style' : 'margin-bottom:15px'}}) }}
          {{ form_row(form.status, { 'attr': {'class': 'form-control', 'style' : 'margin-bottom:15px'}}) }}
          <button class="btn btn-primary" id="edit-link" data-value="{{taskId}}">Save</button>
          {{ form_end(form) }}
        </div>

{% endblock %}
