{% trans_default_domain 'FOSUserBundle' %}

<div class="form-group col-xs-4">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
    'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.username, { 'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.plainPassword, { 'label': 'Password' ,'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.firstName, { 'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.lastName, { 'attr': {'class': 'form-control', 'style' : 'margin-bottom:15px'}}) }}
    {{ form_row(form.submit,  { 'attr': {'class' : 'btn btn-primary'}} ) }}
    {{ form_end(form) }}
</div>
{{ form_end(form) }}