{% extends 'layout.html.twig' %}

{% block javascripts %}
  <script integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="{{ asset('js/script.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block body %}
    <h2 class="text-center">Todo</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>{{ knp_pagination_sortable(pagination, 'Name', 'todo.name') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'Date created', 'todo.date') }}</th>
        <th>Due Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody id="todos">
      {% for todo in pagination %}
        <tr>
          <th>{{ todo.id }}</th>
          <td>{{ todo.name }}</td>
          <td>{{ todo.date|date('F j, Y, g:i a')}}</td>
          <td>{{ todo.deadline|date('F j, Y, g:i a')}}</td>
          <td><a href="{{ path('todo_show',{'todoId':todo.id} )}}" class="btn btn-success">View</a></td>
          <td><a href="{{ path('todo_edit',{'todoId':todo.id} )}}" class="btn btn-default">Edit</a></td>
          <td><a href="{{ path('todo_delete',{'todoId':todo.id} )}}" class="btn btn-warning">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <h4><button id="todoFormButton" onclick="showForm();" class="btn btn-info">Add new todo</button></h4>
    {% block todoForm %}
        <div id="todoForm" style="visibility: hidden">
            <hr>
            <div class="form-group col-xs-4">
                {{ form_start(form, {'attr': {'id': 'form_todo_new'}}) }}
                {{ form_row(form.name,  { 'attr': {'class' : 'form-control'}} ) }}
                {{ form_row(form.deadline, { 'attr': {'class' : 'form-control'}} )}}
                {{ form_row(form.save,  { 'attr': {'class' : 'btn btn-primary','style' : 'margin-top:15px'}} ) }}
                {{ form_end(form)}}
            </div>
        </div>
    {% endblock %}
{% endblock %}
